figure > img {
  width: 15rem;
  object-fit: contain;
}

figure {
  width: 20rem;
  height: auto;
  border: 1px solid black;
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  margin: 0%;
  padding: 0%;
  border: 2px solid red;
}
