.main-gap {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Company {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}

.Company > div > figure {
  padding: 2rem;
}

.Company > div > figure > img {
  width: 300px;
  height: 200px;
}

.section_form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.create-edit {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  padding-bottom: 5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.create {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  min-width: 15rem;
}
.create > input {
  outline: none;
}

.edit > input {
  outline: none;
}

.edit {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

/* 
detalles del input */

.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;

  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feed-form input,
select {
  height: 34px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4b4b4b;
  width: 200px;
}

.button_submit:hover,
.feed-form input:hover {
  transform: scale(1.009);
  box-shadow: 0px 0px 3px 0px #212529;
}

.button_submit {
  width: 100%;
  height: 54px;
  font-size: 14px;
  color: white;
  background: red;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}
