.Company {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}

.Company > div > figure {
  padding: 2rem;
}

.Company > div > figure > img {
  width: 300px;
  height: 200px;
}

.create-edit {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  padding-bottom: 5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.create {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  min-width: 15rem;
}
.create > input {
  outline: none;
}

.edit > input {
  outline: none;
}

.edit {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  min-width: 15rem;
}
