footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brands {
  width: 100vw;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > .brands > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  gap: 1rem;
}

footer > .brands > .column1 > img {
  width: 70px;
  height: 50px;
  object-fit: cover;
}
footer > .brands > .column2 > img {
  width: 70px;
  height: 50px;
  object-fit: cover;
}
footer > .brands > .column3 > img {
  width: 70px;
  height: 50px;
  object-fit: cover;
}
footer > .brands > .column4 > img {
  width: 70px;
  height: 50px;
  object-fit: cover;
}

/* .column1{
  width: 70px;
  height: 50px;
  object-fit: cover;
}
.column2{
  width: 70px;
  height: 50px;
  object-fit: cover;
}
.column3{
  width: 70px;
  height: 50px;
  object-fit: cover;
}
 .column4  {
  width: 70px;
  height: 50px;
  object-fit: cover;
} */
