.Details {
  font-size: 2rem;
  justify-content: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.figureDetails > img {
  height: 20rem;
  margin-top: -3rem;
  right: 50px;
}
.NameMotoDetails {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.NameMotoDetails > h3 {
  font-size: 3rem;
}
.infoMotoDetails {
  width: 40rem;
  height: 10rem;
  display: flex;
  place-items: center;
  flex-wrap: wrap;
  gap: 1.8rem;
  display: flex;
  justify-content: center;
}

.price {
  padding: 0.8rem;
  border-radius: 8px;
  flex-wrap: wrap;
  width: 8rem;
  font-size: 2rem;
  box-shadow: 5px 5px 15px 5px rgb(184, 178, 178);
  position: relative;
  bottom: 10px;
  right: 180px;
}
span {
  font-size: 1rem;
  padding: 0.5rem;
}

.year {
  padding: 0.6rem;
  border-radius: 8px;
  flex-wrap: wrap;
  width: 6rem;
  box-shadow: 5px 5px 15px 5px rgb(184, 178, 178);
}
.type {
  padding: 0.5rem;
  border-radius: 8px;
  flex-wrap: wrap;
  width: 6.2rem;
  box-shadow: 5px 5px 15px 5px rgb(184, 178, 178);
}
.km {
  padding: 0.4rem;
  border-radius: 8px;
  flex-wrap: wrap;
  width: 6.5rem;
  box-shadow: 5px 5px 15px 5px rgb(184, 178, 178);
}
.cc {
  padding: 1rem;
  border-radius: 8px;
  flex-wrap: wrap;
  width: 7rem;
  box-shadow: 5px 5px 15px 5px rgb(184, 178, 178);
}
.company {
  padding: 0.7rem;
  border-radius: 8px;
  flex-wrap: wrap;
  width: 8rem;
  box-shadow: 5px 5px 15px 5px rgb(184, 178, 178);
}
.carnet {
  padding: 1.4rem;
  border-radius: 8px;
  flex-wrap: wrap;
  width: 7.5rem;
  box-shadow: 5px 5px 15px 5px rgb(184, 178, 178);
}
.fuel {
  padding: 1.4rem;
  border-radius: 8px;
  flex-wrap: wrap;
  width: 7.5rem;
  box-shadow: 5px 5px 15px 5px rgb(184, 178, 178);
}
.cv {
  padding: 1.4rem;
  border-radius: 8px;
  flex-wrap: wrap;
  width: 7.5rem;
  box-shadow: 5px 5px 15px 5px rgb(184, 178, 178);
}
