.HomeDetails {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 6vh 35vh 1fr;
  font-size: 2rem;
  margin: 2rem;
  border: 2px solid black;
  width: 100%;
}
img {
  height: 35rem;
}
.NameMotoDetails {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.NameMotoDetails > h3 {
  font-size: 3rem;
}
