:root {
  --primary-color: #2c2d30;
  --secondary-color: whitesmoke;
  --terciary-color: #ff8e05;
  --main-font: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: 1.2rem;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

main {
  padding: 2rem;
}

a {
  transition: all 0.5s ease-in-out;
}

a:hover,
.active {
  color: #c06911;
}

.light {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.dark {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
