@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #2c2d30;
  --secondary-color: whitesmoke;
  --terciary-color: #ff8e05;
  --main-font: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: 1.2rem;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

a {
  transition: all 0.5s ease-in-out;
}

a:hover,
.active {
  color: #c06911;
}

.light {
  background-color: white;
  color: var(--primary-color);
  width: 100%;
}

.dark {
  background-color: black;
  color: var(--secondary-color);
  width: 100%;
}

.dark > div > .Layout > header > nav > ul > li > a > img {
  filter: invert(100%);
  transition: all 0.5s ease-in-out;
}

.dark > div > .Layout > footer > .brands > div > img {
  filter: invert(100%);
  transition: all 0.5s ease-in-out;
}

.light > div > .Layout > footer > .brands > div > img {
  transition: all 0.5s ease-in-out;
}

.light > div > .Layout > header > nav > ul > li > a > img {
  transition: all 0.5s ease-in-out;
}

body {
  width: 100%;
}

html {
  width: 100%;
}

#root {
  width: 100%;
  padding: 0;
}

button {
  background-color: inherit;
  border: none;
  text-align: center;
  border: 1px solid var(--terciary-color);
  border-radius: 5px;
}

button:hover {
  transition: ease-in-out all 1s;
}

.Home > input {
  border: none;
  border-bottom: 1.5px solid var(--terciary-color);
  outline: none;
  text-align: center;
  background-color: transparent;
  padding-bottom: 10px;
}

main {
  min-height: 60vh;
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e,
      5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}
