@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');

:root {
  --primary-color: #2c2d30;
  --secondary-color: whitesmoke;
  --terciary-color: #ff8e05;
  --main-font: 'Roboto' sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: 1.2rem;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

main {
  padding: 2rem;
  min-height: 82vh;
}

a {
  transition: all 0.5s ease-in-out;
}

a:hover,
.active {
  color: #c06911;
}

.light {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.dark {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
